<footer class="py-6 lg:py-12 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="footer-menu text-center">
                    {{# {{ nav:footer }}
                    <a href="{{ url }}">{{ title }}</a>
                    |
                    {{ /nav:footer }}
                    <p class="pt-3">© {{ now format="Y" }} Debt Support Centre.</p> #}}
                </div>
                <div class="top-logos text-center py-3">
                    <div class="col-sm-12 m-auto">
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <a href="https://www.moneyadviceservice.org.uk/en" target="_blank"><v-lazy-image
                                        src="images/logo_mas.svg" class="v-lazy-image-fluid" alt="Money Advice Service Logo"></a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a href="https://www.gov.uk/government/organisations/insolvency-service"
                                    target="_blank"><v-lazy-image src="images/logo_insolvencypractitioner.svg" class="v-lazy-image-fluid"
                                        alt="The Insolvency Service logo"></a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a href="https://www.familybusinessplace.com/" target="_blank"><v-lazy-image
                                        src="images/logo_fbp_white.png" class="v-lazy-image-fluid"
                                        alt="Family Business Place logo"></a>
                            </div>
                            <div class="col-6 col-md-3">
                                <a href="https://www.icaew.com/regulation/insolvency" target="_blank"><v-lazy-image
                                        src="images/logo_icaew2.png" class="v-lazy-image-fluid" alt="ICAEW logo"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-left">
                    {{settings:footer_text}}
                </div>
            </div>
        </div>
    </div>
</footer>