{{ page_builder }}
{{if type == 'scroll_to_section'}}
<section>
    <div class="container">
        <div class="row" id="{{section_id}}">
            <div class="col-md-8 m-auto">
                {{section_content}}
            </div>
        </div>
    </div>
</section>
{{/if}}
{{ if type == "text" }}
{{ partial:blocks/text }}
{{/if}}
{{if text_card}}
<section>
    <div class="container">
        <div class="row">
            {{ text_card }}
            {{ partial:blocks/cards}}
            {{ /text_card }}
        </div>
    </div>
</section>
{{/if}}

{{ if type == "html" }}
<div class="container">
    {{textarea}}
    </div>
    
{{/if}}

{{ if type == "image" }}=
    {{image}}
{{/if}}
{{if select_blocks == 'why_choose_us'}}
{{ partial:blocks/why-choose-us }}
{{/if}}
{{if type == 'new_why_choose_us'}}
{{ partial:blocks/new-why-choose-us }}
{{/if}}
{{if select_blocks == 'possible_debt_solutions'}}
{{ partial:blocks/possible-debt-solutions }}
{{/if}}
{{if type == 'new-possible-debt-solutions'}}
{{ partial:blocks/new-possible-debt-solutions }}
{{/if}}
{{if select_blocks == 'how_you_could_benefit'}}
{{ partial:blocks/how-you-could-benefit }}
{{/if}}
{{if type == 'new_iva_table'}}
{{ partial:blocks/new-how-you-could-benefit }}
{{/if}}
{{if select_blocks == 'debts_we_can_help_with'}}
{{ partial:blocks/debts_we_can_help_with }}
{{/if}}
{{if select_blocks == 'how_we_can_help_you'}}
{{ partial:blocks/how-we-can-help-you }}
{{/if}}
{{if type == 'new_how_we_can_help'}}
{{ partial:blocks/new-how-we-can-help-you }}
{{/if}}
{{if select_blocks == 'text_blocks'}}
{{/if}}
{{if type == 'image_text_split'}}
{{ partial:blocks/image_text_split }}
{{/if}}
{{ if type == "new_cta" }}
<section class="vision">
    <div class="container text-center">
        <div class="row">
            <div class="col-10 col-md-6 m-auto">
                {{cta_pre_header}}
                <p class="lead font-weight-bold">{{cta_text}}</p>
                <button @click="overlay = 'true'" class="primary-btn mt-3 mb-2">{{cta_button_text}}</button>
            </div>
        </div>
    </div>
</section>
{{ /if }}
{{if select_blocks == 'carousel'}}
{{ partial:blocks/carousel }}
{{/if}}
{{ /page_builder }}