<header id="herobanner" class="hero herobanner pt-md-5 mt-5">
    <div class="container-fluid pb-3">
        <div class="row pt-md-5 pb-5 align-items-md-center justify-content-md-center">
            <div class="col-md-5 d-none d-md-block">
                {{ header_image }}
                    <img style="width: 100%" src="{{ url }}" alt="{{ alt }}">
                {{ /header_image }}
            </div>
            <div id="heroContent"  class="col-md-6 col-xl-4 pt-3 text-center text-md-left">
                <div class="contains-list js-build-in">
                    {{header_content}}
                    <button @click="overlay = 'true'" class="js-build-in primary-btn mt-3 mb-2">Get debt help <i class="fa fa-chevron-right arrow" aria-hidden="true"></i></button>
                    <p class="pb-md-5 pb-md-2 js-build-in">Free no-obligation consultation</p>
                    <div class="feefo-banner d-none d-md-block pb-5 js-build-in">
                        <a href="https://www.feefo.com/reviews/nds" target="_blank">
                        <v-lazy-image alt="Feefo logo" src="https://api.feefo.com/api/logo?merchantidentifier=nds" tiptle="See what our customers say about us" border="0" style="max-width: 300px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <v-lazy-image src="images/hero_borders.svg" class="v-lazy-image-fluid d-md-none" alt="Graphic lines" style="margin-top:-4rem">
</header>
<div class="top-logos text-center py-3 mb-md-5 d-none d-md-block" style="background:#363636; min-height: 122px">
    <div class="container">
        <div class="col-sm-12 m-auto">
            <div class="row">
                <div class="col-6 col-md-3">
                    <v-lazy-image src="images/logo_mas.svg" class="v-lazy-image-fluid" alt="Money Advice Service Logo">
                </div>
                <div class="col-6 col-md-3">
                    <v-lazy-image src="images/logo_insolvencypractitioner.svg" class="v-lazy-image-fluid"
                        alt="The Insolvency Service logo">
                </div>
                <div class="col-6 col-md-3">
                    <v-lazy-image src="images/logo_fbp_white.png" class="v-lazy-image-fluid" alt="Family Business Place logo">
                </div>
                <div class="col-6 col-md-3">
                    <v-lazy-image src="images/logo_icaew2.png" class="v-lazy-image-fluid" alt="ICAEW logo">
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial:pagebuilder }}