<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} — {{ settings:site_name }}</title>
    <meta name="description" content="{{ intro | strip_tags | entities }}">
    <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": blogPost,
              "name": "{{ title }}",
              "datePublished": "{{ date format="Y-m-d" }}",
              "description": "{{ intro | strip_tags | entities }}",
            }
    </script>
   
   
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet"> -->
    <!-- connect to domain of font files -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- optionally increase loading priority -->
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700">
    <!-- async CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700">
    <!-- no-JS fallback -->
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700">
    </noscript>
 
</head>
<!-- hide unloaded vue components on page load -->
<style>
    [v-cloak] {
        display: none;
    }
</style>
<body>
    <div id="app">
        {{ partial:apply }}
        {{ partial:nav }}
        <main class="py-12 lg:py-20">
            {{ template_content }}
        </main>
        {{ partial:footer }}
        {{ partial:extras }}
    </div>
</body>
</html>
<!-- Load style and script at the end -->
<script src="{{ mix src='/js/site.js' }}" async></script>
<link rel="stylesheet" href="{{ mix src='css/app.css' }}">

<!-- only load carousel if needed -->
{{ page_builder }}
    {{if select_blocks == 'carousel'}}
        <script type="text/javascript" src="https://api.feefo.com/api/javascript/nds" async></script>
    {{/if}}
{{ /page_builder }}