
<!-- Hero -->
<section class="hero pt-5"> 
    <div class="container pt-md-4 pb-3 herobanner">
    	<div class="row pt-md-5 text-center text-md-left">
            <div class="col-md-6 d-none d-md-block">
                <img src="images/thank-you.png" class="img-fluid" alt=""/>
            </div>
            <div class="col-md-6">
                <p>Thank you, <b style="text-transform: capitalize" class="d-inline">@{{fName}}</b></p>
                <h1 class="pb-3">Good news, help is coming your way</h1>
                <p>One of our specialist debt advisors will give you a call shortly.</p>
                <p>If you want to talk to them now, you can phone them on <b>0161 956 2688</b>.</p>
                <a href="tel:01619562688" class="primary-btn mt-3 mb-2">Call now</a>
            </div>
        </div>
    </div>
    <img src="images/hero_borders.svg" class="img-fluid d-md-none" alt="Graphic lines" style="margin-top:-2rem"/>
    <div class="col text-center" style="margin-top: -2rem">
	    <div class="review-box">
            <div id="feefo-service-review-carousel-widgetId" class="feefo-review-carousel-widget-service"></div>
        </div>
    </div>
</section>

<!-- Debt solutions -->
<div class="top container text-center">
    <div class="row justify-content-center">
        <div class="col-md-8 m-auto">
                <h1 class="pb-3">Some of the solutions available to you</h2>
            </div>
        <div class="col-md-6 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <p class="lead font-weight-bold" style="color:#B53683">IVA</p>
                    <p>An IVA is our most popular debt solution and is an agreement between you and your creditors. Allowing you to write off up to 83.3% of your debts, you can consolidate many of these while making payments starting from just £70 per month.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <p class="lead font-weight-bold" style="color:#B53683">Debt Management Plans</p>
                    <p>A Debt Management Plan is an informal agreement designed to move all your payments into one new affordable monthly amount. A popular solution, it helps take away the potential strain of dealing with debts direct as this is handled by a trained professional.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <p class="lead font-weight-bold" style="color:#B53683">Bankruptcy</p>
                    <p>For people with extreme levels of debt and repayment problems, it could be the only option. However, Bankruptcy is publicly advertised, which can be distressing. We would only recommend this solution after we have explored all other options.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <p class="lead font-weight-bold" style="color:#B53683">Other</p>
            <p>Although we specialise in IVAs and can’t assist you in setting up alternatives, our knowledge of debt is vast. Other solutions include Debt Relief Order, Administration Order, Trust Deed and Debt Arrangement Scheme.</p>
                </div>
            </div>
        </div>
    </div>
</div>