<section class="debtsolutions pt-md-5">
    <div class="container">
        <div class="row text-center small-icon">
            <div class="col-6 col-md-4 pb-3">
                <img src="images/bankloans.gif" class="img-fluid pb-3" alt="Bank loans icon" />
                <p>Bank loans</p>
            </div>
            <div class="col-6 col-md-4 pb-3">
                <img src="images/payday.gif" class="img-fluid pb-3" alt="Payday loans icon" />
                <p>Payday loans</p>
            </div>
            <div class="col-6 col-md-4 pb-3">
                <img src="images/overdraft.gif" class="img-fluid pb-3" alt="Overdraft icon" />
                <p>Overdraft</p>
            </div>
            <div class="col-6 col-md-4 pb-3">
                <img src="images/catalogue.gif" class="img-fluid pb-3" alt="Catalogue debt icon" />
                <p>Catalogues</p>
            </div>
            <div class="col-6 col-md-4 pb-3">
                <img src="images/creditcards.gif" class="img-fluid pb-3" alt="Credit card debt icon" />
                <p>Credit cards</p>
            </div>
            <div class="col-6 col-md-4 pb-3">
                <img src="images/storecards.gif" class="img-fluid pb-3" alt="Store card debt icon" />
                <p>Store cards</p>
            </div>
        </div>
    </div>
</section>