<section>
    <div class="container">
        <div class="row text-center small-icon">
            <div class="col-6 col-md-4 pb-3">
                <v-lazy-image src="images/bankloans.gif" class="v-lazy-image-fluid pb-3" alt="Bank loans icon" ></v-lazy-image>
                <p>Bank loans</p>
            </div>
            <div class="col-6 col-md-4 pb-3">
                <v-lazy-image src="images/payday.gif" class="v-lazy-image-fluid pb-3" alt="Payday loans icon" ></v-lazy-image>
                <p>Payday loans</p>
            </div>
            <div class="col-6 col-md-4 pb-3">
                <v-lazy-image src="images/overdraft.gif" class="v-lazy-image-fluid pb-3" alt="Overdraft icon" ></v-lazy-image>
                <p>Overdraft</p>
            </div>
            <div class="col-6 col-md-4 pb-3">
                <v-lazy-image src="images/catalogue.gif" class="v-lazy-image-fluid pb-3" alt="Catalogue debt icon" ></v-lazy-image>
                <p>Catalogues</p>
            </div>
            <div class="col-6 col-md-4 pb-3">
                <v-lazy-image src="images/creditcards.gif" class="v-lazy-image-fluid pb-3"
                    alt="Credit card debt icon" ></v-lazy-image>
                <p>Credit cards</p>
            </div>
            <div class="col-6 col-md-4 pb-3">
                <v-lazy-image src="images/storecards.gif" class="v-lazy-image-fluid pb-3" alt="Store card debt icon" ></v-lazy-image>
                <p>Store cards</p>
            </div>
        </div>
        <div class="col-10 col-md-6 m-auto text-md-center pb-5">
            <button @click="overlay = 'true'" class="btn primary-btn mt-3" style="min-width:240px">Get debt
                advice</button>
        </div>
    </div>
</section>