<section class="debtsolutions pt-md-5">
    <div class="container">
        <h2 class="text-md-center pb-3">Example of how you could benefit from an IVA:</h2>
        <div class="row">
            <div class="col-md-8 offset-md-3">
                <p class="lead">Example breakdown</p>
            </div>
            {{ blocks:table }}
            {{ cells }}
            {{if index == 1}}
            <div class="col-3 col-md-4 pt-3 table-amount">
                {{ value | markdown }}
            </div>
            {{else}}
            <div class="col-7 col-md-3 offset-md-3 pt-3">
                {{value | markdown }}
            </div>
            {{/if}}
            {{ /cells }}
            {{ /blocks:table }}
        </div>
    </div>
    <div class="table-footer">
        <div class="container">
            <div class="row">
                {{ blocks:written_off }}
                {{cells}}
                {{if index == 1}}
                <div class="col-3 col-md-4 pt-3 table-amount">
                    {{ value | markdown }}
                </div>
                {{else}}
                <div class="col-7 col-md-3 offset-md-3 pt-3">
                    {{ value | markdown }}
                </div>
                {{/if}}
                {{/cells}}
                {{ /blocks:written_off}}
            </div>
        </div>
    </div>
    <div class="container pb-5" style="margin-top:-1rem">
        <div class="row justify-content-center">
            <div class="col-6 col-md-3 text-center">
                <div class="card h-100">
                    <div class="card-body">
                        {{blocks:example_box_left}}
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="card h-100">
                    <div class="card-body">
                        {{blocks:example_box_right}}
                    </div>
                </div>
            </div>
            <div class="col-12 pt-2">
                <p class="font-weight-bold text-center pt-3">{{blocks:details}}</p>
            </div>
        </div>
        <div class="text-center">
            <a href="application.php" class="primary-btn mt-3">Get debt help</a>
        </div>
    </div>
</section>