<section>
    <div class="container">
        <h2 class="text-center py-3">{{blocks:how_we_can_help_title}}</h2>
        <div class="row justify-content-center">
            <div class="col-md-4 pb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <v-lazy-image src="images/step_1.svg" alt="Step 1" style="max-width:40px" ></v-lazy-image>

                        <p class="pink move-up">Check if you qualify</p>
                        <p class="d-inline">{{blocks:help_box_1}} <strong class="d-inline" @click="overlay = 'true'" style="cursor: pointer;">Start now ></strong></p> 
                    </div>
                </div>
            </div>
            <v-lazy-image src="images/arrow-1.gif" class=" d-md-none" alt="Arrow pointing to the next step"  style="max-height:40px" ></v-lazy-image>

            <div class="col-md-4 pb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <v-lazy-image src="images/step_2.svg" class="" alt="Step 2" style="max-width:40px" ></v-lazy-image>
                        <p class="pink move-up">We find a solution</p>
                        <p>{{blocks:help_box_2}}</p>
                    </div>
                </div>
            </div>
            <v-lazy-image src="images/arrow-2.gif" class=" d-md-none" alt="Arrow pointing to the next step"  style="max-height:40px" ></v-lazy-image>
            <div class="col-md-4 pb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <v-lazy-image src="images/step_3.svg" class="" alt="Step 3" style="max-width:40px" ></v-lazy-image>
                        <p class="pink move-up">Get debt help</p>
                        <p>{{blocks:help_box_3}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>