<div id="carouselExampleSlidesOnly" class="carousel slide text-center d-md-none py-5">
    <carousel :autoplay="true" :nav="false" :items="1" :dots="false">
        <div>
            <p>Independent Debt Advice</p>
            <v-lazy-image src="images/mas-logo.png" class="v-lazy-image-fluid" alt="Money Advice Service logo"></v-lazy-image>
        </div>
        <div>
            <p>Fully regulated</p>
            <v-lazy-image src="images/logo_icaew.png" class="v-lazy-image-fluid" alt="ICAEW logo"></v-lazy-image>
        </div>
        <div>
            <p>Samaritan-trained advisors</p>
        <v-lazy-image src="images/logo_samaritans.png" class="v-lazy-image-fluid" howalt="Samaritans logo"></v-lazy-image>
        </div>
        <div>
            <p>Insolvency Service registered</p>
            <v-lazy-image src="images/logo_insolvencyservice.png" class="v-lazy-image-fluid" alt="The Insolvency Service logo"></v-lazy-image>
        </div>
        <div>
            <p>Family-run business</p>
            <v-lazy-image src="images/logo_fbp-2.png" class="v-lazy-image-fluid" alt="Family Business Place logo"></v-lazy-image>

        </div>
    </carousel>
</div>