<section>
    <div class="container">
        <h2 class="text-md-center py-3">{{table_title}}</h2>
        <div class="row">
            <div class="col-md-8 offset-md-3">
                <p class="lead">Example breakdown</p>
            </div>
            {{ table }}
            {{ cells }}
            {{if index == 1}}
            <div class="col-3 col-md-4 pt-3 table-amount">
                {{ value | markdown }}
            </div>
            {{else}}
            <div class="col-7 col-md-3 offset-md-3 pt-3">
                {{value | markdown }}
            </div>
            {{/if}}
            {{ /cells }}
            {{ /table }}
        </div>
    </div>
    <div class="table-footer">
        <div class="container">
            <div class="row">
                {{ written_off }}
                {{cells}}
                {{if index == 1}}
                <div class="col-3 col-md-4 pt-3 table-amount">
                    {{ value | markdown }}
                </div>
                {{else}}
                <div class="col-7 col-md-3 offset-md-3 pt-3">
                    {{ value | markdown }}
                </div>
                {{/if}}
                {{/cells}}
                {{ /written_off}}
            </div>
        </div>
    </div>
    <div class="container pb-5" style="margin-top:-1rem">
        <div class="row justify-content-center">
            <div class="col-6 col-md-3 text-center">
                <div class="card h-100">
                    <div class="card-body">
                        <display v-pre>{{example_box_left_title}}</display>
                        <p class="head">{{example_box_left_subtitle}}</p>
                        <p>{{example_box_left}}</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="card h-100">
                    <div class="card-body">
                        <display v-pre>{{example_box_right_title}}</display>
                        <p class="head" style="color:#009991">{{example_box_right_subtitle}}</p>
                        <p>{{example_box_right}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-2">
                <p class="font-weight-bold text-center pt-3">{{details}}</p>
            </div>
        </div>
        <div class="text-center">
            <button @click="overlay= 'true'" class="primary-btn mt-3">Get debt help</button>
        </div>
    </div>
</section>