<section>
    <div class="container text-center pt-5">
        <h2 class="py-3">{{heading}}</h2>
        <div class="row justify-content-center">
            <div class="col-md-4 pb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <display v-pre>{{why_column_a_title}}</display>
                        <p class="head">{{why_column_a_subtitle}}</p>
                        <p>{{why_column_a}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <display v-pre>{{why_column_b_title}}</display>
                        <p class="head">{{why_column_b_subtitle}}</p>
                        <p>{{why_column_b}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <display v-pre>{{why_column_c_title}}</display>
                        <p class="head">{{why_column_c_subtitle}}</p>
                        <p>{{why_column_c}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>