<section class="debtsolutions pt-md-5">
    <img src="images/debt-solutions_top.svg" class="img-fluid d-md-none" alt="Graphic lines">
    <div class="container pb-5 pb-md-0">
        <div class="row">
            <div class="col-10 offset-1 pt-5 pb-3 text-md-center" style="margin-top:-4rem">
                <h2>{{blocks:solutions_heading}}</h2>
            </div>
            <div class="col-10 col-md-6 m-auto text-md-center pt-3 pb-5">
                {{blocks:column_a}}
                <button @click="overlay = 'true'" class="btn primary-btn mt-3" style="min-width:240px">Get debt help</button>
            </div>
            <div class="col-10 col-md-6 m-auto text-md-center pt-3 pb-5">
                {{blocks:column_b}}
                <a href="debt-solutions" class="btn secondary-btn mt-3" style="min-width:240px">Explore options</a>
            </div>
        </div>
    </div>
    <img src="images/debt-solutions_bottom.svg" class="img-fluid d-md-none" alt="Graphic lines" style="margin-top:-4rem">
</section>