
<section class="top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="images/404.svg" alt="404"/>
            </div>
            <div class="col-md-6 text-left">
                <h2 class="pt-2 pb-3">Houston, we have a problem</h2>
                <p>We're not sure why you landed here, but John is getting fired.</p>
                <p class="pt-3"><b>Maybe one of these pages can help you find your way?</b></p>
                <ul class="font-weight-bold">
                    <li><a href="/">Home page</a></li>
             
                    <!--li>Blog</li-->
                    <li><a href="/contact-us">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>