.formOverlay {
  color: #122c49;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
}

.formOverlay__nav {
  font-size: 0.8rem;
  color: #707070;
  padding: 10px;
  box-shadow: 0 2px 5px -1px rgba(18, 44, 73, 0.3);
}

.formOverlay__nav .click:hover {
  color: blue;
  cursor: pointer;
}

.formOverlay__inner {
  max-width: 600px;
  margin: 0 auto;
  min-height: calc(100vh - 200px);
}

.formOverlay__inner__gif {
  height: 80px;
  width: 80px;
}

@media (min-width: 768px) {
  .formOverlay__inner__gif {
    height: 200px;
    width: 200px;
  }
}

.formOverlay__inner .qTitle {
  color: #122c49;
  font-weight: bolder;
}

@media (max-width: 767px) {
  .formOverlay__inner .qTitle {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .formOverlay__inner .qTitle {
    font-size: 2rem;
  }
}

.formOverlay .navBottom {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.formOverlay .backBtn:hover {
  color: #b53683;
}

body {
  font-family: "Montserrat", sans-serif;
}

.btn--form {
  background-color: #EDEFF2;
  border-radius: 50px;
  width: 189px;
  font-size: 0.9rem;
  transition-duration: 400ms;
}

.btn--form.selected {
  background-color: #b53683;
  color: #fff;
}

.background-on {
  background-image: url("/images/hero_borders.svg");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.btnDisable {
  opacity: 0.5;
  pointer-events: none !important;
}

.btn--text,
a {
  color: #009991;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.5s;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}

.slide-enter-active {
  transition: all 0.3s ease;
}

.slide-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-enter,
.slide-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.textInput .slot-container,
.textInput .input-container,
.textInput input {
  width: 100% !important;
}

.textInput svg {
  fill: #b53683;
  vertical-align: text-bottom;
}

.textInput .accessibility__icon {
  background-color: #b53683 !important;
}

.textInput .input__container {
  height: 40px;
  font-size: inherit;
}

.textInput input {
  color: #122c49 !important;
}

.textInput .label__placeholder {
  color: #707070;
}

.textInput .label__active.label__active--canscale {
  color: #b53683 !important;
}

.textInput .input__container--focus .label__placeholder {
  color: #b53683;
}

.vm-progress-bar * {
  border-radius: 0 !important;
  transition-duration: 1s;
}

body {
  font-size: 0.9rem;
}

.pageBreak {
  margin: 3em 0;
  height: 2px;
  background-color: #b53683;
  display: block !important;
  width: 100%;
  position: relative;
}

.pageBreak svg {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  width: 30px;
}

