@import "mediaQ.scss";
@import "colours.scss";
@import "theme.scss";
.btnInnactive {
    opacity: 0.5;
}
section {
    @media only screen and (min-width: 767px) {
        margin-bottom: 3rem;
    }
    // &:last-of-type {
    //     margin-bottom: 0 !important;
    // }
}

.custom-control-label::before {
    border-radius: 0 !important;
   
}

.custom-control-label::after{
    border:1px solid #b53683 !important;
}

.custom-control-input:checked {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #b53683 !important;
    border: 1px red solid !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #b53683 !important;
}
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #b53683;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #b53683;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: #b53683;
}
.formOverlay {
    color: $dark;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 150;
    overflow-y: auto;
    overflow-x: hidden;
    &__nav {
        font-size: 0.8rem;
        color: #707070;
        padding: 10px;
        box-shadow: 0 2px 5px -1px rgba(18, 44, 73, 0.3);
        .click {
            &:hover {
                color: blue;
                cursor: pointer;
            }
        }
    }
    &__inner {
        max-width: 800px;
        margin: 0 auto;
        min-height: calc(100vh - 200px);
        @include respond-above(sm) {
            // padding: 10rem 0 !important;
        }
        &__gif {
            height: 85px;
            width: 85px;
        }
        .qTitle {
            font-size: 1rem;
            color: #122c49;
            font-weight: bolder;
        }
    }
    .navBottom {
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: #f5f5f5;
    }
    .backBtn:hover {
        color: $secondary;
    }
}
.full-width {
    width: 100% !important;
}
// Buttons
.btn--form {
    background-color: $lightgrey;
    border-radius: 50px;
    width: 189px;
    font-size: 0.9rem;
    transition-duration: 400ms;
    @include respond-above(sm) {
        padding: 1rem !important;
    }
    @include respond-below(sm) {
        max-width: 250px;
    }
    &.selected {
        background-color: $secondary;
        color: #fff;
    }
}
.btn--submit {
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
        color: white;
        background: $primary;
    }
    &:active {
        //letter-spacing: 2px;
        letter-spacing: 2px;
    }
    &:after {
        content: "Get my quote";
    }
}

.submitButton:focus {outline:0;}
.submitButton {
    outline: 0;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(0, 77, 73, 1) 0%, rgba(0, 153, 145, 1) 100%);
    box-shadow: 0 2px 5px -1px #29253b;
    border: none;
    color: #fff;
    text-shadow: 0;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
.submitButton:hover {
    background: linear-gradient(0deg, rgba(0, 77, 73, 1) 0%, rgba(0, 77, 73, 1) 100%);
    box-shadow: none;
}
.submitButton:after {
    content: "Get results";
}
.text-icon{
    height: 11px;
    width: 14px;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 3px;
}
.fieldError {
    color: red !important;
    font-weight: 300;
    margin-bottom: 1px;

        
   

    .label__active.label__active--canscale, input{
        color: red !important;
    }
    

    .input__container{
    margin-bottom: 1.5rem;
    }

    .btn--form {
        padding: 1rem !important;
        border: 1px red solid;
    }
    .input__container.has-line::after {
        background-color: red !important;
        
    }
    .accessibility__icon {
        display: none !important;
    }
    .label__placeholder {
        color: red !important;
    }

    svg {
        fill: red;
        path {
            fill: red;
        }
    }
}
.onclic {
    width: 40px;
    background: #fff;
    border: 3px solid;
    border-radius: 40px;
    border-color: #e7e7e7;
    border-width: 3px;
    font-size: 0;
    box-shadow: none;
    border-left-color: rgb(0, 77, 73);
    animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
    content: "";
}
.onclic:hover {
    background: white;
}
.validate {
    font-size: 0.9rem;
    color: white;
    background: linear-gradient(0deg, rgba(0, 77, 73, 1) 0%, rgba(0, 153, 145, 1) 100%);
}
.validate:after {
    font-family: "FontAwesome";
    content: "\f00c";
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.background-on {
    background-image: url("/images/hero_borders.svg");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.btnDisable {
    opacity: 0.5;
    pointer-events: none !important;
}
.btn--text,
a {
    color: $primary;
}
// Transitons and animations
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: opacity 0.5s;
}
.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
}
.slide-enter-active {
    transition: all 0.3s ease;
}
.slide-leave-active {
    transition: all 0.1s;
}
.slide-enter,
.slide-leave-to {
    transform: translateY(-30px);
    opacity: 0;
}
// imputs
.textInput {
    .input-container {
        // position: relative;
    }
    .slot-container,
    .input-container,
    input {
        width: 100% !important;
    }
    svg {
        fill: $secondary;
        vertical-align: text-bottom;
    }
    .accessibility__icon {
        background-color: $secondary !important;
    }
    .input__container {
        height: 40px;
        font-size: inherit;
    }
    input {
        color: $dark;
    }
    .label__placeholder {
        color: $grey !important;
        // top: -17px !important;
    }
    .label__active.label__active--canscale {
        color: $secondary !important;
    }
    .input__container--focus {
        .label__placeholder {
            color: $secondary;
        }
    }
}
// Bits n Bobs
.navbar-collapse {
    background-color: #fff;
    z-index: 10;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px -1px rgba(18, 44, 73, 0.3);
    top: 70px !important;
}
.vm-progress-bar * {
    border-radius: 0 !important;
    transition-duration: 1s;
}
body {
    font-size: 0.9rem;
}
.pageBreak {
    margin: 3em 0;
    height: 2px;
    background-color: $secondary;
    display: block !important;
    width: 100%;
    position: relative;
    svg {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        width: 30px;
    }
}
input {
    box-shadow: none !important;
}
.v-lazy-image-fluid {
    width: 100%;
}


