<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <p class="lead">Example breakdown</p>
        </div>
        <div class="col-7 col-md-3 offset-md-3 pt-3">
            <p>Total owed</p>
        </div>
        <div class="col-3 col-md-4 pt-3 table-amount">
            <p>£24,114.16</p>
        </div>
        <div class="col-7 col-md-3 offset-md-3">
            <p>Old monthly repayments</p>
        </div>
        <div class="col-3 col-md-4 table-amount">
            <p>£876</p>
        </div>
        <div class="col-7 col-md-3 offset-md-3">
            <p>New monthly repayments</p>
        </div>
        <div class="col-3 col-md-4 table-amount">
            <p>£160</p>
        </div>
    </div>
</div>
<div class="table-footer">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-3 offset-md-3 pt-3">
                <p>Amount written off</p>
            </div>
            <div class="col-3 col-md-4 pt-3">
                <p>£18,841</p>
            </div>
        </div>
    </div>
</div>
<div class="container pb-5" style="margin-top:-1rem">
    <div class="row justify-content-center">
        <div class="col-6 col-md-3 text-center">
            <div class="card h-100">
                <div class="card-body">
                    <h4>£876</h4>
                    <p class="head">Before plan</p>
                    <p>Total contractual repayments</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 text-center">
            <div class="card h-100">
                <div class="card-body">
                    <h4>£160</h4>
                    <p class="head" style="color:#009991">After plan</p>
                    <p>Total contractual repayments</p>
                </div>
            </div>
        </div>
        <div class="col-12 pt-2">
            <p class="font-weight-bold text-center pt-3">Contractual repayments reduced by 78.14%. Total debt written off £18,841 over a period of five years.</p>
        </div>
    </div>
    <div class="text-center">
        <a href="application.php" class="primary-btn mt-3">Get debt help</a>
    </div>
</div>