<div class="container text-center pt-5">
    <h2 class="py-3">Why people choose us</h2>
    <div class="row justify-content-center">
        <div class="col-md-4 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="years">+</h4>
                    <p class="head">years’ experience</p>
                    <p>Part of a group of companies which have been operating since 2006, we have the experience and the
                        skills necessary to help you deal with your debts.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="customers">120+</h4>
                    <p class="head">Individuals are here to help</p>
                    <p>Get in touch for a no-obligation chat about your finances. Whatever your situation, we will help
                        you find the best solution possible.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4>£13,500</h4>
                    <p class="head">Average debt write-off</p>
                    <p>Although we cannot give a strict figure on what you’ll actually be able to write off, we have
                        created an <a href="iva.php#iva-calculator" style="color:#B53683; font-weight:bold">IVA
                            calculator</a> which should provide a good estimation.</p>
                </div>
            </div>
        </div>
    </div>
</div>