<div class="container text-center pt-5">
    <h2 class="py-3">{{heading}}</h2>
    <div class="row justify-content-center">
        <div class="col-md-4 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="years">+</h4>
                   {{why_column_a}}
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="customers">120+</h4>
                    {{why_column_b}}
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4>£13,500</h4>
                    {{why_column_c}}
                </div>
            </div>
        </div>
    </div>
</div>